.env
.idea
.vite
.vscode
admin-panel/.phpunit.cache
admin-panel/node_modules
admin-panel/public/build
admin-panel/public/hot
admin-panel/public/storage
admin-panel/public/vendor
admin-panel/storage/*.key
admin-panel/storage/debugbar
admin-panel/vendor
admin-panel/.phpunit.result.cache
admin-panel/Homestead.json
admin-panel/Homestead.yaml
admin-panel/auth.json
admin-panel/npm-debug.log
admin-panel/yarn-error.log
admin-panel/.fleet
admin-panel/composer.lock
admin-panel/package-lock.json
admin-panel/.env
admin-panel/.phpstorm.meta.php

api-service/.phpunit.cache
api-service/node_modules
api-service/public/build
api-service/public/hot
api-service/public/storage
api-service/public/vendor
api-service/storage/*.key
api-service/storage/debugbar
api-service/vendor
api-service/.phpunit.result.cache
api-service/Homestead.json
api-service/Homestead.yaml
api-service/auth.json
api-service/npm-debug.log
api-service/yarn-error.log
api-service/.fleet
api-service/composer.lock
api-service/package-lock.json
api-service/.env
api-service/.phpstorm.meta.php

env/mysql.env
env/admin_panel.env
env/api_service.env
env/phpmyadmin.env
